extends ../layout

block content
    script(type='text/javascript').
        function updateQuantity(elemIndex) {
            const quantityElem = document.getElementById(`quantity${elemIndex}`);
            const quantity = parseInt(quantityElem.value, 10);
            const orderId = document.getElementById(`orderId${elemIndex}`).value;
            if (quantity && orderId) {
                fetch('/order/cart', {
                    method: 'PUT',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({
                        id: orderId,
                        quantity
                    })
                }).then(() => {
                    //page reload from the server
                    location.reload(true);
                })
            }
        }
        function removeItem(elemIndex) {
            const orderId = document.getElementById(`orderId${elemIndex}`).value;
            if (orderId) {
                fetch('/order/cart', {
                    method: 'DELETE',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({
                        id: orderId
                    })
                }).then(() => {
                    location.reload(true);
                })
            }
        }
        function finalize(currentUserId) {
            fetch('/order/cart/finalize', {
                    method: 'PATCH',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({
                        customerId: currentUserId
                    })
            }).then(() => {
                location.href = '/order';
            })
        }
    
    if (orders && orders.length)
        h2 Total Price: $#{totalPrice}
        button(onclick="finalize('" + currentUser._id + "')") Order All
    else
        h2 Nothing in your cart
    each o, i in orders  
        .card
            h3 #{o.product.name} - $#{o.product.price} x #{o.quantity}
            p Item(s) price: $#{o.product.price * o.quantity}
            p Maximum available: #{o.product.quantity + o.quantity}
            label(for="quantity") Quantity
                input(id=("quantity" + i), type="number", name="quantity" value=o.quantity, min=1, max=(o.product.quantity + o.quantity))
            input(id=("orderId" + i), type="hidden", name="order", value=o._id)
            button(onclick=("updateQuantity(" + i + ")")) Change
            br
            button(onclick=("removeItem(" + i + ")")) Remove item

