extends ../layout

block content
    form(action="product" method="get")
        label(for="search") Filter by title/description
        input#q(type="text" name="q")
        input(type="submit" value="Go")
    each p in products
        .card
            h2 #{p.name} - $#{p.price}
            p=p.description
            p Available: #{p.quantity}
            if p.quantity > 0
                form(action="order", method="post")
                    input#customerId(type="hidden" name="customerId" value=currentUserId)
                    input#productId(type="hidden" name="productId" value=p._id)
                    label(for="quantity") Quantity
                    input#quantity(type="number", name="quantity", value=1, min=1)
                    input(type="submit" value="Order")
